server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://logistica-db:5432/logistica?currentSchema=logistica
    username: utn
    password: utn123

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate.jdbc.time_zone: America/Buenos_Aires
    hibernate:
      ddl-auto: none
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tpi-backend
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.tpi: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
  file:
    name: logs/app.log